@import '../../variables';
.NavigationBarComponent {
  display: flex;
  align-items: center;
  background: $primary;
  > .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > .navButton {
      cursor: pointer;
      margin-right: 12px;
    }
  }
}
