$primary: #3F51B5;
$primary-accent: #536DFE;
$primary-dark: #303F9F;
$primary-light: #C5CAE9;

$secondary: #2e7d32;
$secondary-accent: #00c853;
$secondary-dark: #1b5e20;
$secondary-light: #388e3c;

$danger: #c1211c;
$danger-accent: #fe0500;
$danger-dark: #9f100c;
$danger-light: #e97775;
